# .github/workflows/docker-deploy.yml
name: Build & Deploy Docker

on:
  push:
    branches: [ main ]
    paths: ['slides/**', 'Dockerfile', 'build-slides.sh']

jobs:
  build:
    runs-on: ubuntu-latest
    environment: main
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          ravonzz174/chrt-python-slidev:latest
          ravonzz174/chrt-python-slidev:${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    # - name: Deploy to VDS via SSH
    #   uses: appleboy/ssh-action@v1.0.3
    #   with:
    #     host: ${{ secrets.VDS_HOST }}
    #     username: ${{ secrets.VDS_USER }}
    #     key: ${{ secrets.VDS_SSH_KEY }}
    #     script: |
    #       cd /opt/slidev-host
    #       docker-compose pull
    #       docker-compose up -d
    #       docker image prune -f
